<div class="wrapper">
  <div class="landing-section">

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <ngb-accordion
                [destroyOnHide]="false"
                [closeOthers]="true"
                activeIds="panel1"
              >
                <ngb-panel id="panel1">
                  <ng-template ngbPanelTitle>
                    <span>Estilo</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <a href="tipos/ale">Ale</a>
                    <hr />
                    <a href="tipos/ipa">Ipa</a>
                    <hr />
                    <a href="tipos/stout">Stout</a>
                    <hr />
                    <a href="tipos/lager">Lager</a>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="panel2">
                  <ng-template ngbPanelTitle>
                    <span>Amargo </span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <a>Bajo</a>
                    <hr />
                    <a>Bajo/Medio</a>
                    <hr />
                    <a>Medio</a>
                    <hr />
                    <a>Alto</a>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="recipe-title" style="text-align: left">IPA</div>
          <hr class="yellow" />
          India: Esto es por el protagonismo que tuvo dicho país en la historia
          de la cerveza. Dado que los ingleses tenían varias colonias en el
          país, es lógico y como no existían los métodos de conservación de hoy
          en día, utilizaron el lúpulo y el alcohol como conservantes naturales.
          Pale: Siempre que veas el nombre Pale es una cerveza, te está hablando
          de su malta pálida, esto hace que normalmente sean cervezas pálidas.
          Ale: Se refiere al tipo de fermentación que es una fermentación alta.

          <div class="row justify-content-center mt-5">
            <div
              class="card pola-card mr-5"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/debora-chelarte.png"
                  alt="Debora"
                />

                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">Debora</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>Debora</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black">: Double IPA</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> ,0%</span>
                    <br />
                    Nivel de amargor IBU: <span style="color: black"> 102</span>
                    <br />
                    Amargor: <span style="color: black"> Medio</span>
                    <br />
                    Casa Cervecera: <span style="color: black">Chelarte</span>
                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black">Tocineta y carnes curadas </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card pola-card mr-5"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/India_Hakuna_png.png"
                  alt="Apache"
                />

                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">India</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>India</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black">: IPA</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 6.5%</span>
                    <br />
                    Nivel de amargor IBU: <span style="color: black"> 66</span>
                    <br />
                    Amargor: <span style="color: black"> Medio</span>
                    <br />
                    Casa Cervecera: <span style="color: black">Hakuna</span>
                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black">Queso tipo Gorgonzola </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div
              class="card pola-card mr-5"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/apache.png"
                  alt="Apache"
                />

                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">Apache</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>Apache</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black">: IPA</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 5,0%</span>
                    <br />
                    Nivel de amargor IBU: <span style="color: black"> 27</span>
                    <br />
                    Amargor: <span style="color: black"> Bajo</span>
                    <br />
                    Casa Cervecera: <span style="color: black">Apache</span>
                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black">Queso azul </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card pola-card mr-5"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/Wicca-ancas.png"
                  alt="Ancas"
                />

                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">Ancas de rana</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>Ancas de rana</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black">: IPA</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 6,0%</span>
                    <br />
                    Nivel de amargor IBU: <span style="color: black"> 49</span>
                    <br />
                    Amargor: <span style="color: black"> Bajo</span>
                    <br />
                    Casa Cervecera: <span style="color: black">Wicca</span>
                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black">Ceviches </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div
              class="card pola-card mr-5"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/LaTrocha.png"
                  alt="La trocha"
                />
                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">La trocha</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>La Trocha</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black">IPA</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 5,5%</span>
                    <br />
                    Nivel de amargor IBU:
                    <span style="color: black"> 57,5</span>
                    <br />
                    Amargor: <span style="color: black">Medio</span>
                    <br />

                    <br />
                    Maridaje:
                    <span style="color: black"
                      >Crema catalana y queso suave
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="card pola-card mr-5"
              style="width: 15rem; border-radius: 15%"
            >
              <div class="hovereffect-pola">
                <div class="card-title"></div>
                <img
                  class="card-img-top"
                  src="./assets/img/polas/Kalimaok.png"
                  alt="Finca"
                />
                <div class="card-body pola-card-body mt-4">
                  <div class="row">
                    <div class="col-md-9 col-sm-8 col-8 text-center">
                      <b class="pola-name">Finca</b>
                    </div>
                    <div class="col-md-3 col-sm-4 col-4 cart-divider">
                      <i class="fas fa-shopping-cart"></i>
                    </div>
                  </div>
                </div>
                <div class="overlay">
                  <h2>Finca</h2>
                  <div class="overlay-text">
                    Estilo: <span style="color: black">IPA</span>
                    <br />
                    Nivel de alcohol: <span style="color: black"> 4,8%</span>
                    <br />
                    Nivel de amargor IBU: <span style="color: black">50</span>
                    <br />
                    Amargor: <span style="color: black">Alto</span>
                    <br />
                    Casa Cervecera: <span style="color: black">Kalima</span>
                    <br />
                    <br />
                    Maridaje:
                    <span style="color: black">Pastas y pescados </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
