<div class="wrapper">
  <div class="landing-section">
    <div class="container">
      <h5 class="title">Facturas</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">N° factura</th>
            <th scope="col">Fecha D/M/A</th>
            <th scope="col">Pedido</th>
            <th scope="col">Estado del pedido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">0012345</th>
            <td>23/02/21</td>
            <td>Plan tranqui</td>
            <td>Enviado</td>
          </tr>
          <tr>
            <th scope="row"><a href="/home">002358</a></th>
            <td>18/03/21</td>
            <td>Charladito</td>
            <td>Enviado</td>
          </tr>
          <tr>
            <th scope="row">003548</th>
            <td>05/05/21</td>
            <td>Plan tranqui</td>
            <td>Enviado</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
