<div class="wrapper">
  <div
    class="page-header page-header-xs"
    style="background-image: url('./assets/img/sibate3.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="section container">
    <h2 class="title">Cambio de contraseña</h2>
    <hr />
    <div class="row">
      <div class="col-sm-8 login-form-2 mx-auto d-block">
        <h3>Cambio de contraseña</h3>
        <hr />
        <img
          src="../../../assets/img/changePassword.svg"
          class="rounded mx-auto d-block"
          width="100"
        />
        <form
          (ngSubmit)="onSubmitClient()"
          [formGroup]="changePasswordForm"
          class="text-white"
        >
          <div class="form-group">
            <label for="">Contraseña actual</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{
                'is-invalid': f.password.dirty && f.password.errors
              }"
              placeholder="Contraseña *"
            />
            <div
              *ngIf="f.password.dirty && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">
                Debes ingresar tu contraseña
              </div>
              <div *ngIf="f.password.errors.minlength">
                La contraseña es muy corta
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Contraseña nueva</label>
            <input
              type="password"
              formControlName="newPassword"
              class="form-control"
              [ngClass]="{
                'is-invalid': f.newPassword.dirty && f.newPassword.errors
              }"
              placeholder="Contraseña *"
            />
            <div
              *ngIf="f.newPassword.dirty && f.newPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.newPassword.errors.required">
                Debes ingresar tu contraseña
              </div>
              <div *ngIf="f.newPassword.errors.minlength">
                La contraseña es muy corta
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Confirma la contraseña nueva</label>
            <input
              type="password"
              formControlName="passwordConfirmation"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  f.passwordConfirmation.dirty && f.passwordConfirmation.errors
              }"
              placeholder="Contraseña *"
            />
            <div
              *ngIf="
                f.passwordConfirmation.dirty && f.passwordConfirmation.errors
              "
              class="invalid-feedback"
            >
              <div *ngIf="f.passwordConfirmation.errors.required">
                Debes ingresar tu contraseña
              </div>
              <div *ngIf="f.passwordConfirmation.errors.minlength">
                La contraseña es muy corta
              </div>
              <div *ngIf="f.passwordConfirmation.errors.notEquivalent">
                Las contraseñas no coinciden
              </div>
            </div>
          </div>
          <div class="form-group text-center mt-5">
            <button
              type="submit"
              class="btn btn-danger btn-round"
              [disabled]="!changePasswordForm.valid"
            >
              Iniciar sesión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
