<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/rice.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="section container">
    <h2 class="title">Publica información</h2>
    <hr />
    <div class="container login-container">
      <div class="col-8-md login-form-3 mt-5 mx-auto d-block">
        <h3>Agrega información sobre la organización</h3>
        <img
          src="../../../../assets/img/information.svg"
          class="rounded mx-auto d-block"
          width="100"
        />

        <form
          (ngSubmit)="onSubmit()"
          [formGroup]="addInfoForm"
          class="mt-2 text-white"
        >
          <h5>Información de la sede</h5>
          <div class="form-group">
            <label>Nombre</label>
            <input
              type="text"
              formControlName="headquarterName"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  f.headquarterName.dirty && f.headquarterName.errors
              }"
              placeholder="Nombre de la sede"
            />
            <div
              *ngIf="f.headquarterName.dirty && f.headquarterName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.headquarterName.errors.required">
                El nombre es requerido
              </div>
              <div *ngIf="f.headquarterName.errors.pattern">
                El nombre no puede contener números ni caracteres especiales
              </div>
              <div *ngIf="f.headquarterName.errors.minlength">
                El nombre es muy corto
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Dirección</label>
            <input
              type="text"
              formControlName="address"
              class="form-control"
              [ngClass]="{
                'is-invalid': f.address.dirty && f.address.errors
              }"
              placeholder="Dirección"
            />
            <div
              *ngIf="f.address.dirty && f.address.errors"
              class="invalid-feedback"
            ></div>
          </div>
          <div class="form-group">
            <label>Horario de atención</label>
            <input
              type="text"
              formControlName="schedule"
              class="form-control"
              [ngClass]="{
                'is-invalid': f.schedule.dirty && f.schedule.errors
              }"
              placeholder="Horario de atención"
            />
            <div
              *ngIf="f.schedule.dirty && f.schedule.errors"
              class="invalid-feedback"
            ></div>
          </div>
          <div class="form-group">
            <label>Departamento</label>
            <select
              (change)="onChange($event.target.value)"
              [ngClass]="{
                'is-invalid': f.state.dirty && f.state.errors
              }"
              class="form-control"
              formControlName="state"
            >
              <option value="" selected>
                Escoge tu departamento de residencia
              </option>
              <option *ngFor="let state of states" value="{{ state.stateId }}">
                {{ state.name }}
              </option>
            </select>
            <div
              *ngIf="f.state.dirty && f.state.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.state.errors.required">
                El departamento de residencia es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Municipio</label>
            <select
              [ngClass]="{
                'is-invalid': f.city.dirty && f.city.errors
              }"
              class="form-control"
              formControlName="city"
            >
              <option value="" selected>
                Escoge tu municipio de residencia
              </option>
              <option *ngFor="let city of cities" value="{{ city.cityId }}">
                {{ city.name }}
              </option>
            </select>
            <div *ngIf="f.city.dirty && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors.required">
                El municipio de residencia es requerido
              </div>
            </div>
          </div>
          <h5>Información extra de la empresa</h5>
          <div class="form-group">
            <label>Título</label>
            <input
              type="text"
              formControlName="title"
              [ngClass]="{
                'is-invalid': f.title.dirty && f.title.errors
              }"
              class="form-control"
              placeholder="Título de la información"
            />
            <div
              *ngIf="f.title.dirty && f.title.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.title.errors.required">
                El nombre del producto es requerido
              </div>
              <div *ngIf="f.title.errors.pattern">
                El nombre del producto no puede contener números ni caracteres
                especiales
              </div>
              <div *ngIf="f.title.errors.minlength">
                El nombre del producto es muy corto
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Contenido</label>
            <textarea
              class="form-control"
              formControlName="infoContent"
              rows="3"
            ></textarea>
          </div>
          <h5>Canales de contacto</h5>
          <div class="form-group">
            <label>Instagram <i class="fab fa-instagram"></i></label>
            <input
              type="text"
              formControlName="instagram"
              [ngClass]="{
                'is-invalid': f.instagram.dirty && f.instagram.errors
              }"
              class="form-control"
              placeholder="Instagram"
            />
            <div
              *ngIf="f.instagram.dirty && f.instagram.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.instagram.errors.required">
                El nombre del producto es requerido
              </div>
              <div *ngIf="f.instagram.errors.pattern">
                El nombre del producto no puede contener números ni caracteres
                especiales
              </div>
              <div *ngIf="f.instagram.errors.minlength">
                El nombre del producto es muy corto
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Facebook <i class="fab fa-facebook"></i></label>
            <input
              type="text"
              formControlName="facebook"
              [ngClass]="{
                'is-invalid': f.facebook.dirty && f.facebook.errors
              }"
              class="form-control"
              placeholder="facebook"
            />
            <div
              *ngIf="f.facebook.dirty && f.facebook.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.facebook.errors.required">
                El nombre del producto es requerido
              </div>
              <div *ngIf="f.facebook.errors.pattern">
                El nombre del producto no puede contener números ni caracteres
                especiales
              </div>
              <div *ngIf="f.facebook.errors.minlength">
                El nombre del producto es muy corto
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Whatsapp <i class="fab fa-whatsapp"></i></label>
            <input
              type="text"
              formControlName="whatsapp"
              [ngClass]="{
                'is-invalid': f.whatsapp.dirty && f.whatsapp.errors
              }"
              class="form-control"
              placeholder="Whatsapp"
              maxlength="10"
            />
            <div
              *ngIf="f.whatsapp.dirty && f.whatsapp.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.whatsapp.errors.pattern">
                El número de whatsapp no puede contener letras ni caracteres
                especiales
              </div>
            </div>
          </div>
          <label>Agregar imagen de la organización</label>
          <div class="custom-file form-group mx-auto d-block">
            <input
              type="file"
              class="custom-file-input"
              id="customFileLang"
              lang="es"
              (change)="fileChangeEvent($event)"
            />
            <label class="custom-file-label" for="customFileLang">{{
              fileName
            }}</label>
          </div>
          <div class="form-group mt-2 text-center" *ngIf="isImageSaved">
            <img [src]="cardImageBase64" width="200" height="200" />
          </div>

          <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary btn round">
              Publicar información
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  hklju
</div>
