<div class="wrapper">
    <div
      class="page-header section-dark"
      style="background-image: url('./assets/img/sibate5.jpg')"
    >
      <div class="filter"></div>
      <div class="content-center">
        <div class="container">
          <div class="title-brand">
            <div class="logo">
              <img src="assets/img/white_logo.png" alt="" />
            </div>
            <h1 class="presentation-title">¡Bienvenido!</h1>
          </div>
        </div>
      </div>

    </div>
  </div>
  