<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/sibate13.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="section">
    <div class="product-container">
      <h2 class="title">Organizaciones asociadas</h2>
      <hr />
      <div class="row">
        <div class="col-md-3">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel title="Filtros">
              <ng-template ngbPanelContent>
                <form (ngSubmit)="onSubmit()" [formGroup]="categoryFilterForm">
                  <label class="form-label">Categorias</label>

                  <div class="form-check">
                    <select class="form-control" formControlName="categoryType">
                      <option value="" selected>Todas</option>
                      <option
                        value="{{ category.categoryId }}"
                        *ngFor="let category of organizationCategories"
                      >
                        {{ category.name }}
                      </option>
                    </select>
                  </div>
                  <label class="form-label">Tipo de organización</label>
                  <div class="form-check">
                    <select
                      class="form-control"
                      formControlName="organizationType"
                    >
                      <option value="" selected>Todas</option>
                      <option
                        value="{{ type.typeId }}"
                        *ngFor="let type of organizationTypes"
                      >
                        {{ type.name }}
                      </option>
                    </select>
                  </div>
                  <div class="card-footer text-center">
                    <button class="btn btn-success">Filtrar</button>
                  </div>
                </form>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>

          <ngb-accordion activeIds="ngb-panel-0">
            <ngb-panel title="Búsqueda">
              <ng-template ngbPanelContent>
                <div class="search mx-auto">
                  <form
                    class="form-inline"
                    (ngSubmit)="getOrganizationByName()"
                    #searchOrganizationForm="ngForm"
                  >
                    <div class="form-group">
                      <input
                        [(ngModel)]="searchName"
                        id="search"
                        name="search"
                        #search="ngModel"
                        class="form-control"
                        placeholder="Buscar"
                        type="text"
                      />
                    </div>

                    <button class="btn btn-just-icon" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </form>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
        <div class="col-md-9">
          <div class="card" *ngFor="let organization of organizations">
            <div class="row">
              <div class="col-md-7 px-3">
                <div class="card-block px-6">
                  <h4 class="card-title">{{ organization.firstName }}</h4>
                  <h5 class="card-text">{{ organization.username }}</h5>
                  <p class="card-text">
                    <b>Tipo de organización:</b>
                    {{ organization.organizationType.name }}
                    <br />
                    <b> Categoría organización: </b>
                    {{ organization.organizationCategory.name }}
                  </p>
                  <hr />
                  <div *ngIf="organization.headquarters.length > 0">
                    <h6>Información de la sede:</h6>
                    <br />
                    <div *ngFor="let headquarter of organization.headquarters">
                      <p class="card-text">
                        <b>Dirección:</b>
                        {{ headquarter.address }}
                      </p>
                      <p class="card-text">
                        <b>Ciudad:</b>
                        {{ headquarter.city }}
                      </p>
                      <p class="card-text">
                        <b>Departamento:</b>
                        {{ headquarter.state }}
                      </p>
                      <br />
                    </div>
       
                  </div>
                  <div *ngIf="organization.contactInfo">
                    <h6>Redes sociales:</h6>
                    <br />
                  
                      <p class="card-text" *ngFor="let contact of organization.contactInfo">
                        <b>{{ contact.channel }}:</b>
                        {{ contact.value }}
                      </p>

                      <br />
                    </div>
                    <div *ngIf="organization.organizationInfo">
                      <h6>Información de la organización:</h6>
                      <br />
                    
                        <p class="card-text" *ngFor="let info of organization.organizationInfo">
                          <b>{{ info.title }}:</b>
                          {{ info.content }}
                        </p>
  
                        <br />
                      </div>
                  </div>
                </div>
           
              <div class="col-md-5">
                <div class="carousel slide">
                  <ngb-carousel>
                    <ng-template
                      ngbSlide
                      *ngFor="let image of organization.images"
                    >
                      <img src="{{ image.url }}" />
                    </ng-template>
                  </ngb-carousel>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

